<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.commands">
        <category
            name="Dkill Category"
            id="dkill.commands.category">
        </category>
        <command
            name="DKill"
            categoryId="dkill.commands.category"
            id="dkill.commands.dkill">
       </command>
    </extension>
    <extension
         point="org.eclipse.ui.handlers">
        <handler
            commandId="dkill.commands.dkill"
            class="dkill.handlers.PopupHandler">
        </handler>
    </extension>
    <extension
         point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <command label="Bye Cya 1"
                  commandId="dkill.commands.dkill">
            </command>
        </menuContribution>
        <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <command commandId="dkill.commands.dkill"
                label="Kill Derived 1" style="push" tooltip="Find possible derived resource">
            </command>
        </menuContribution>
        <menuContribution locationURI="popup:org.eclipse.jdt.ui.ProjectsView">
            <command commandId="dkill.commands.dkill"
                label="Kill Derived 2" style="push" tooltip="Find possible derived resources">
            </command>
        </menuContribution>
    </extension>
</plugin>
